name: Build Windows Executable (.msi)

on:
 push:
    branches: 
      - main
 workflow_dispatch:

env:
  PYTHON_VERSION: 3.11.4
  APP_UpgradeCode: "06010198-549d-42d4-b29a-32e770082da9"
  APP_NAME: DispatcherApp

jobs:
  build-executable:
    runs-on: windows-2022

    env:
      PYTHON_VERSION: 3.11.4
      APP_NAME: DispatcherApp

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Setup python embeddable version
      run: |
        mkdir python-${{ env.PYTHON_VERSION }}
        curl -O https://www.python.org/ftp/python/${{ env.PYTHON_VERSION }}/python-${{ env.PYTHON_VERSION }}-embed-amd64.zip
        unzip python-${{ env.PYTHON_VERSION }}-embed-amd64.zip -d python-${{ env.PYTHON_VERSION }}
        rm python-${{ env.PYTHON_VERSION }}-embed-amd64.zip

        $PYTHON_DIR="${{ runner.tool_cache }}/Python/${{ env.PYTHON_VERSION }}/x64"
        $EMBED_DIR="python-${{ env.PYTHON_VERSION }}"

        mkdir -p $EMBED_DIR/Lib/site-packages/tkinter
        mkdir -p $EMBED_DIR/tcl
        cp -r $PYTHON_DIR/Lib/tkinter/* $EMBED_DIR/Lib/site-packages/tkinter/
        cp -r $PYTHON_DIR/tcl/* $EMBED_DIR/tcl/
        cp $PYTHON_DIR/DLLs/_tkinter.pyd $EMBED_DIR/
        cp $PYTHON_DIR/DLLs/tcl86t.dll $EMBED_DIR/
        cp $PYTHON_DIR/DLLs/tk86t.dll $EMBED_DIR/

    - name: Bundle MSVC runtime DLLs
      shell: powershell
      run: |
        $embed = "python-${{ env.PYTHON_VERSION }}"
        $dlls = @(
          "vcomp140.dll",
          "vcruntime140.dll",
          "vcruntime140_1.dll",
          "msvcp140.dll"
        )
        foreach ($dll in $dlls) {
          Copy-Item "C:\Windows\System32\$dll" "$embed\$dll" -Force
        }

    - name: Install pip
      run: |
        curl -O https://bootstrap.pypa.io/get-pip.py
        ./python-${{ env.PYTHON_VERSION }}/python get-pip.py --no-warn-script-location
        rm get-pip.py

    - name: Uncomment 'import site' in python311._pth file
      run: |
        sed -i 's/#import site/import site/' python-${{ env.PYTHON_VERSION }}/python311._pth

    - name: Create launcher .bat file
      shell: pwsh
      run: |
        $batContent = @"
        @echo off
        set PYTHON=.\python-${{ env.PYTHON_VERSION }}\python
        set REQ=.\requirements.txt
        set MARKER=.\python-${{ env.PYTHON_VERSION }}\.deps_installed
        
        if exist "%MARKER%" goto RUN_APP
        echo Preparing Python environment...
        "%PYTHON%" -m ensurepip >nul 2>&1
        "%PYTHON%" -m pip install -r "%REQ%" --no-warn-script-location
        if errorlevel 1 exit /b 1
        ren "streamlit" ".streamlit"
        echo OK>"%MARKER%"
        :RUN_APP
        start /min "" "%PYTHON%" -m streamlit run BarcodeScanner.py
        "@
        $batContent | Set-Content -Encoding ASCII "${{ env.APP_NAME }}.bat"

    - name: Create All-in-one executable folder
      shell: bash
      run: |
        rm -rf streamlit_exe
        mkdir -p streamlit_exe
        mv python-${{ env.PYTHON_VERSION }} streamlit_exe
        cp -r assets streamlit_exe
        cp -r pages streamlit_exe
        cp BarcodeScanner.py streamlit_exe
        cp app_helper.py streamlit_exe
        cp ${{ env.APP_NAME }}.bat streamlit_exe
        cp requirements.txt streamlit_exe

    - name: Create Streamlit config
      shell: bash
      run: |
        mkdir -p streamlit_exe/streamlit
        cat <<'EOF' > streamlit_exe/streamlit/config.toml
        [global]
        developmentMode = false
        [server]
        maxUploadSize = 50000
        port = 8505
        [theme]
        primaryColor = "#29379b"
        EOF

    - name: Generate Readme.txt
      shell: bash
      run: |
        cat <<EOF > streamlit_exe/Readme.txt
        Welcome to ${{ env.APP_NAME }}!
        Launch the app by double-clicking ${{ env.APP_NAME }}.bat
        EOF

    - name: Install WiX Toolset
      run: |
        curl -LO https://github.com/wixtoolset/wix3/releases/download/wix3111rtm/wix311-binaries.zip
        unzip wix311-binaries.zip -d wix
        rm wix311-binaries.zip

    - name: Build .wxs for streamlit_exe folder
      run: |
        ./wix/heat.exe dir streamlit_exe -gg -sfrag -sreg -srd -template component -cg StreamlitExeFiles -dr AppSubFolder -out streamlit_exe_files.wxs

    - name: Generate WiX XML file (UTF-8)
      shell: bash
      run: |
        cat <<EOF > streamlit_exe.wxs
        <?xml version="1.0" encoding="UTF-8"?>
        <Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
          <Product Id="*" Name="${{ env.APP_NAME }}" Language="1033" Version="1.0.0.0" Codepage="65001" Manufacturer="OpenMS Developer Team" UpgradeCode="${{ env.APP_UpgradeCode }}">
            <Package Id="*" InstallerVersion="300" Compressed="yes" InstallPrivileges="elevated" Platform="x64" />
            <Media Id="1" Cabinet="streamlit.cab" EmbedCab="yes" />
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
            <Directory Id="TARGETDIR" Name="SourceDir">
              <Directory Id="ProgramFilesFolder"> 
                <Directory Id="INSTALLFOLDER" Name="${{ env.APP_NAME }}">
                  <Directory Id="AppSubFolder" Name="${{ env.APP_NAME }}" /> 
                  <Component Id="CreateAppFolder" Guid="95dbfa06-d36a-427f-995c-e87769ac2e59">
                    <CreateFolder>
                      <Permission User="Everyone" GenericAll="yes" />
                    </CreateFolder>
                  </Component>
                </Directory>
              </Directory>
              <Directory Id="DesktopFolder" />
            </Directory>
            <Feature Id="MainFeature" Title="Main Application" Level="1">
              <ComponentGroupRef Id="StreamlitExeFiles" />
              <ComponentRef Id="CreateAppFolder" />
            </Feature>
          </Product>
        </Wix>
        EOF

    - name: Build .wixobj with candle.exe
      run: |
        ./wix/candle.exe streamlit_exe.wxs streamlit_exe_files.wxs

    - name: Link .wixobj into .msi with light.exe
      run: |
        ./wix/light.exe -ext WixUIExtension -sice:ICE60 -o ${{ env.APP_NAME }}.msi streamlit_exe_files.wixobj streamlit_exe.wixobj

    - name: Archive build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.APP_NAME }}
        path: ${{ env.APP_NAME }}.msi
